.feature3 {
  padding-bottom: 0px;
}
.view-more-button {
  background: #633c84;
  color: white;
  width: 40%;
  padding: 10px;
  text-align: center;
  margin: 10px auto 0 auto;
  border-radius: 5px;
  font-weight: bold;
}

.view-more-button:hover {
  cursor: pointer;
  background: #b672ba;
}

.hidden-button {
  display: none;
}

.first-projects {
  margin-bottom: 30px;
}

.more-projects {
  overflow: hidden;
  max-height: 1500px;
  transition: max-height 1s;
  margin-bottom: 30px;
}

.hidden {
  max-height: 0;
}
